/* Universal styles */
* {
	font-family: Roboto, Helvetica, sans-serif;
}

html, body, .content-wrapper {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

.white-text {
	color: white;
}

.container {
	margin: auto;
	width: 70%;
}

.center-align {
	text-align: center;
	width: 100%;
}

/* Homepage styles */
#home-wrapper #section-splash {
	background-image: url(https://support.files.wordpress.com/2009/07/pigeony.jpg?w=688);
	min-height: 75vh;
	background-size: cover;
}

#home-wrapper #subscribe-panel {
	margin-top: 20vh;
	background: white;
	border-radius: 2vh;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 2vh;
}

.section-header {
	text-align: center;
	width: 100%;
	font-weight: 200;
	font-size: 2.5rem;
	margin-top: 5vh;
}
#section-what-we-do .row {
	padding: 10vh;
	padding-top: 2vh;
}
.what-we-do-panel {
	padding: 15px;
	text-align: center;
}
.what-we-do-panel h3 {
	margin-top: 2vh;
}
.what-we-do-panel p {
	margin: 0;
	font-weight: 300;
}
.what-we-do-panel img {
	width: 100%;
}

#subscribe-banner {
	width: 100vw;
	padding-top: 7vh;
	padding-bottom: 7vh;
	background: #2196f3;
}

#section-partners .row {
	padding: 10vh;
	padding-top: 2vh;
}
#section-partners .img-wrapper {
	padding: 15px;
}
#section-partners img {
	width: 100%;
	height: auto;
}
