/* Universal styles */
* {
	font-family: Roboto, Helvetica, sans-serif;
}

html, body, .content-wrapper {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

.header-wrapper {
	position: fixed;
	background-size: cover;
	height: 60vh;
	left: 0;
	right: 0;
}
.header-text {
	min-width: 50%;
	max-width: 80%;
	margin: auto;
	color: white;
	z-index: 2000;
}
.header-wrapper h1 {
	font-size: 3.5em;
	width: 100%;
	line-height: 1;
}
.header-wrapper p {
	font-family: "Roboto Slab", serif;
	font-weight: 300;
	font-size: 2em;
	line-height: 1;
	margin-top: 2vh;
}

.white-text {
	color: white;
}

.container {
	margin: auto;
	width: 70%;
}
.grid-container {
	margin: auto;
	width: 95%;
}

.center-align {
	text-align: center;
	width: 100%;
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.valign-wrapper .valign {
  display: block;
}

.horizontal-divider {
	width: 100%;
	margin-top: 5vh;
	margin-bottom: 5vh;
	height: 2px;
	background-color: #e0e0e0;
	z-index: 1000;
}

/* Homepage styles */
#home-wrapper #section-splash {
	background-image: url(https://support.files.wordpress.com/2009/07/pigeony.jpg?w=688);
	min-height: 75vh;
	background-size: cover;
}

#home-wrapper #subscribe-panel {
	margin-top: 20vh;
	background: white;
	border-radius: 2vh;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 2vh;
}

.section-header {
	text-align: center;
	width: 100%;
	font-weight: 200;
	font-size: 2.5rem;
	margin-top: 5vh;
}
#section-what-we-do .row {
	padding: 10vh;
	padding-top: 2vh;
}
.what-we-do-panel {
	padding: 15px;
	text-align: center;
}
.what-we-do-panel h3 {
	margin-top: 2vh;
}
.what-we-do-panel p {
	margin: 0;
	font-weight: 300;
}
.what-we-do-panel img {
	width: 100%;
}

#subscribe-banner {
	width: 100vw;
	padding-top: 7vh;
	padding-bottom: 7vh;
	background: #2196f3;
}

#section-partners .row {
	padding: 10vh;
	padding-top: 2vh;
}
#section-partners .img-wrapper {
	padding: 15px;
}
#section-partners img {
	width: 100%;
	height: auto;
}

/* Events page styles */
#events-wrapper .event-card-wrapper {
	padding: 1.5vh;
	z-index: 201;
}
#events-wrapper h2 {
	z-index: 1000;
	font-size: 2em;
	font-weight: 700;
	padding-left: 1vh;
}
#events-wrapper .grid-container {
	margin-top: 45vh;
	padding-bottom: 3vh;
	min-height: 55vh;
	position: relative;
	z-index: 200;
}

#events-wrapper .grid-container #cover {
	position: absolute;
	bottom: 0;
	top: 15vh;
	left: -5vh;
	right: -5vh;
	bottom: 0;
	background: white;
	z-index: -1;
}

img.bw {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* Chapters page styles */
#chapters-map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#chapters-wrapper .header-text {
	pointer-events: none;
}