/* Universal styles */
* {
  font-family: Roboto, Helvetica, sans-serif;
}

html, body, .page-wrapper {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: #505050;
}
.page-wrapper {
  pointer-events: none;
  z-index: -23;
}
.page-wrapper * {
  pointer-events: auto;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: #303030;
}
.content-wrapper {
  animation: 0.25s slideInUp;
}
.header-wrapper {
  position: fixed;
  background-size: cover;
  height: 60vh;
  left: 0;
  right: 0;
}
.header-text {
  width: 70%;
  margin: auto;
  z-index: 2000;
  animation: 0.25s fadeIn;
}

.header-text * {
  color: white;
}
.header-wrapper h1 {
  font-size: 3.5em;
  width: 100%;
  line-height: 1;
}
.header-wrapper p {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 2em;
  line-height: 1;
  margin-top: 2vh;
}
@media (max-width: 600px) {
  .header-text {
    width: 80%;
  }
  .header-wrapper h1 {
    font-size: 3em;
  }
  .header-wrapper p {
    font-size: 1.75em;
  }
}
.white-text {
  color: white;
}

.container {
  margin: auto;
  width: 70%;
}
.content-wrapper {
  width: 95%;
  margin: auto;
  padding-bottom: 3vh;
  position: relative;
  z-index: 200;
  pointer-events: none;
}
.content-wrapper * {
    pointer-events: all;
}

.center-align {
  text-align: center;
  width: 100%;
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.valign-wrapper .valign {
  display: block;
}

.horizontal-divider {
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 2px;
  background-color: #e0e0e0;
  z-index: 1000;
}
.content-wrapper #cover {
  position: absolute;
  top: 15vh;
  left: -5vh;
  right: -5vh;
  bottom: 0;
  background: white;
  z-index: -1;
}
img.bw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* Navbar styles */
#navbar-primary li, #navbar-secondary {
  transition: background 0.3s ease, color 0.3s ease;
}
#navbar-primary li:hover, #navbar-primary li.active {
  background: #eeeeee;
}
/* Homepage styles */
#home-wrapper #section-splash {
  pointer-events: auto;
  background-image: url(/img/assets/dallas.png);
  background-position: center;
  position: fixed;
  height: 75vh;
  width: 100vw;
  background-size: cover;
  z-index: 0;
}
section {
  z-index: 2;
  position: relative;
}
#section-splash .valign-wrapper {
  height: 100%;
  width: 70%;
  margin: auto;
  pointer-events: initial;
}
@media (max-width: 600px) {
  #section-splash {
    text-align: center;
  }
  #section-splash .valign-wrapper {
    height: 100%;
    width: 85%;
    margin: auto;
  }
}
#home-wrapper #section-splash h1 {
  color: white;
  font-size: 4em;
}
#home-wrapper #section-splash h2 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

#home-wrapper #subscribe-panel {
  margin-top: 20vh;
  background: white;
  border-radius: 2vh;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 2vh;
}

.section-header {
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 2.5rem;
  padding-top: 5vh;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
.content-section {
  background: white;
  z-index: 1;
}
#section-what-we-do {
  margin-top: 75vh;
  z-index: 2
}
#section-what-we-do .row {
  padding: 10vh;
  padding-top: 2vh;
}
.what-we-do-panel {
  padding: 15px;
  text-align: center;
}
.what-we-do-panel h3 {
  margin-top: 2vh;
  color: #303030;
}
.what-we-do-panel p {
  margin: 0;
  font-weight: 300;
}
.what-we-do-panel img {
  width: 100%;
}
.what-we-do-panel .img-wrapper {
  width: 100%;
  height: 21vh;
  overflow: hidden;
}

#subscribe-banner {
  position: relative;
  width: 100vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: #2196f3;
  z-index: 2;
}
#section-partners {
  z-index: 2;
}
#section-partners .row {
  padding: 10vh;
  padding-top: 2vh;
}
#section-partners .img-wrapper {
  padding: 25px;
}
#section-partners img {
  width: 100%;
  height: auto;
}

/* Events page styles */
#events-wrapper .event-card-wrapper {
  padding: 1.5vh;
  z-index: 201;
}
#events-wrapper .event-card-wrapper img {
  height: 25vh;
  width: auto;
  object-fit: cover;
  object-position: center;
}
#events-wrapper .content-wrapper {
  margin-top: 40vh;
  min-height: 60vh;
}
#events-wrapper h2 {
  z-index: 1000;
  font-size: 2em;
  font-weight: 700;
  padding-left: 1vh;
}

/* Chapters page styles */
#chapters-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#chapters-wrapper .header-text {
  pointer-events: none;
}
#chapters-wrapper .content-wrapper {
  margin-top: 50vh;
  min-height: 50vh;
}
#chapters-wrapper #cover {
  top: 10vh;
}
#chapters-wrapper .chapter-card-wrapper {
  padding: 1.5vh;
  z-index: 201;
}
#chapters-wrapper .chapter-card-wrapper > div {
  height: 18vh;
  position: relative;
}
@media (max-width: 600px) {
  #chapters-wrapper .chapter-card-wrapper > div {
    height: 22vh;
  }
}
#chapters-wrapper .chapter-card-wrapper .img-wrapper {
  height: 20vh;
  width: 100%;
  background-size: cover;
}
/* Get Involved pages styles */
.get-involved-wrapper .content-wrapper {
	margin-top: 45vh;
}
.get-involved-wrapper #form-wrapper {
	width: 75%;
	margin: auto;
}
@media (max-width: 600px) {
	.get-involved-wrapper #form-wrapper {
		width: 95%;
		margin: auto;
		min-height: 50vh;
	}
}
.get-involved-wrapper form {
	padding: 5vmin;
}
.get-involved-wrapper form p {
	font-size: 2em;
	line-height: 1;
	font-family: "Roboto", Helvetica, sans-serif;
	font-weight: 300;
}
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}